service cloud.firestore {
	function existingData() {
    return resource.data
  }

  function incomingData() {
    return request.resource.data
  }

  function currentUser() {
    return request.auth
  }

  function isSignedIn() {
    return request.auth != null;
  }
  
  function isOwner(userId) {
    return request.auth.uid == userId
  }
  
  
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if isSignedIn() && isOwner(userId);
    }
    match /users/{userId}/histories/{historyId} {
      allow read, write: if isSignedIn() && isOwner(userId);
    }
  }
}